body
{
  background-color: #002855;
  font-family: 'open_sansregular';
}

a{
    text-decoration:  none;

}
h1
{
  text-align: center;
  font-weight: bold;
  font-size: 250%;
  margin: 0px;
  padding: 0px;
}

hr{
  border-top: 5px double #8c8b8b;
}


img
{
  border-radius: 2px;
  margin: 10px;
  height:200px;
}

th.
{
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
}

.button
{
  background-color: #C99700;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 13px;
  transition: background-color .5s;
}

.button:hover
{
  background-color: #ffc61a;
}

.pr
{
      -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
          transform: skewX(-20deg);
  
  border: none;
  width: 125px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 13px;
}

.pr a
{
      -ms-transform: skewX(20deg); /* IE 9 */
  -webkit-transform: skewX(20deg); /* Safari */
          transform: skewX(20deg);
  display:block;
}

.pr img
{
  border-radius: 0;
  margin: 0;
}

.gold
{
  background-color: #ffcc00;
}

.silver
{
  background-color: #bfbfbf;
}

.bronze
{
  background-color: #cc6600;
}

#mainBox
{
  border-radius: 15px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: #f7f6f0;
  width: 850px;
}

th
{
  padding: 0;
  margin: 0;
  font-weight: normal;
}

#foot
{
  font-size: 10px;
  opacity: .5;
  margin-bottom: 0;
}

#bgimage
{
  background-image: url("./img/back.png");
  top: 5px;
  left: 5px;
  width: 100%;
  height:100%;
  background-repeat: 'xy';
  opacity: 0.2;
  position: fixed;
  background-size: 30%;
  padding: 0;
  margin: 0;
  z-index:-1;
}

.lucas
{
  background-image: url("./img/lucas.png");
}

.kevin
{
  background-image: url("./img/kevin.png");
}

.luan
{
  background-image: url("./img/luan.png");
}

.scott
{
  background-image: url("./img/scott.png");
}

.scott:hover
{
  background-image: url("./img/memes/hbox.png");
}

.brian
{
  background-image: url("./img/brian.png");
}

.kevin:hover
{
	background-image: url("./img/memes/kevin.png")
}

.luan:hover
{
  background-image: url("./img/ed.png");
  -webkit-animation: spin 4s infinite linear;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('./font/OpenSans-Regular-webfont.eot');
    src: url('./font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-Regular-webfont.woff') format('woff'),
         url('./font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('./font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}